* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
}

header {
  background: #2d2f31;
  position: sticky;
  top: 0;
  z-index: 3;
}

header nav,
footer nav {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
  padding: 0 30px;
}

header ul,
footer ul {
  font-family: "Roboto", "OpenSans-Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

footer ul {
  justify-content: center;
}

header li,
footer li {
  display: inline-block;
  padding: 15px 25px;
  color: #ffffff;
}

header nav img {
  width: 35px;
  padding: 15px 0;
}

header nav a,
footer nav a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: all 250ms ease-in-out;
}

header nav a:hover,
footer nav a:hover {
  border-bottom: 1px solid #ffffff;
  color: #ded9d9;
}

.icon {
  display: none;
}

.top-image {
  width: 100%;
}

.services {
  margin: 50px 0;
  text-align: center;
}

.main-title {
  font-size: 32px;
  font-weight: 400;
  color: #313131;
  text-align: center;
}

.delimiter {
  width: 100px;
  margin: 10px auto 15px;
  height: 1px;
  background: rgba(206, 65, 110, 0.74);
}
.main-title-description {
  color: #616161;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.container-row {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.row-item {
  width: 30%;
  margin: 25px 0;
}

.row-item img {
  width: 90px;
  opacity: 0.75;
}

.row-item h2 {
  font-weight: 400;
  font-size: 26px;
  margin: 8px 0;
}

.overlay {
  margin: 80px 0;
  padding: 80px 30px;
  background: #2d2f31 url(../img/02.jpg);
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #081828;
  content: "";
  transition: all 0.4s ease;
  opacity: 0.7;
  z-index: -1;
}

.black-back .common-button {
  border-color: rgba(206, 65, 110, 0.74);
}

.black-back .common-button:hover {
  color: #ffffff;
  background-color: rgba(206, 65, 110, 0.74);
}

.black-back .main-title {
  color: #ffffff;
}

.black-back .main-title-description {
  color: #ffffff;
}
.common-button {
  margin-top: 30px;
  padding: 15px 25px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #2d2f31;
  cursor: pointer;
  border-radius: 4px;
  color: #2d2f31;
  transition: 0.3s ease;
}
.common-button:hover {
  color: #ffffff;
  background-color: #2d2f31;
}

.portfolio-container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 33.33%;
  height: 250px;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
}

.description-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  height: 0;
  background: #2d2f31;
  transition: all 0.3s ease-in-out;
}

.portfolio-item:hover .description-container {
  opacity: 0.8;
  height: 100%;
}

.portfolio-title,
.portfolio-description {
  color: white;
}
.portfolio-title {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 5px;
}

.contact-form {
  max-width: 960px;
  padding: 0 30px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-form .col {
  width: 50%;
  margin-bottom: 25px;
}

.contact-form .col:nth-child(odd) {
  padding-right: none;
}

.contact-form .row-col {
  width: 100%;
  margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #afafaf;
  padding: 15px;
}

.contact-form .submit {
  background: #2d2f31;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact-form .submit:hover {
  background: #4c4c4c;
}
.contact-form .submit:active {
  background: #2c3b4a;
}

.contact-form .check {
  color: #616161;
  text-align: center;
}

.contact-form .check a {
  color: #ce416e;
}

footer {
  background: #2d2f31;
  padding-bottom: 10px;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand span {
  margin-left: 15px;
  font-size: 42px;
  font-weight: 400;
  color: white;
  font-family: "Roboto", "OpenSans-Light", Arial, Helvetica, sans-serif;
  line-height: 1;
}

.brand img {
  width: 35px;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  margin: 10px;
}
.social img {
  width: 30px;
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 992px) {
  .row-item {
    width: 45%;
  }
  .icon {
    display: flex;
    font-size: 20px;
    margin: auto 0;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
  }
  header nav li {
    display: none;
    padding: 15px 0px;
  }
  .portfolio-item {
    width: 50%;
  }
  header ul {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background: #2d2f31;
    height: 0px;
    top: 57px;
    transition: all 0.3s ease-in-out;
  }
  .responsive ul {
    height: 200px;
  }
  .responsive li {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .row-item {
    width: unset;
  }
  .container-row {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .portfolio-item {
    width: 100%;
  }
  .contact-form .col:nth-child(odd) {
    border: 1px solid #afafaf;
  }
  .contact-form .col {
    width: 100%;
    margin-bottom: 15px;
  }
  .contact-form .submit {
    font-size: 14px;
  }
}
